.main1{
    .imgLogo{
    padding: 3rem;
    text-align: end;
        img{
        width: 40%;  
         
        }
     }
    .col{
        h1{
        padding: 4rem;
        color: rgb(0, 0, 0);
        display: flex;
        }
}
}