.mainInfo{
    h2{
        padding: 2rem;
        text-align: center;
    }
    section{
       display: flex;
       column-gap: 10%;
        
    }
    .imgInfo{
         width: 100%;
    
        }
}